.navbar {
    background-color: rgb(236, 176, 91);
}

li a {
    color: white !important;
    font-size: 20px;
    border-radius: 20px;
    padding: 15px;
}

li a:hover {
    color: rgb(236, 176, 91) !important;
    background-color: #2ecc71;
    border-radius: 20px;
    padding: 15px;
}

.navbar-toggler {
    background-color: #2ecc71;
}

@media (max-width) {
    nav {
        height: auto;
    }
}

article {
    margin: 50px auto;
}

li {
    padding: 10px;
}

p {
    padding: 10px;
}

aside {
    position: fixed;
    right: 0;
    top: 40%;
    width: 8em;
    margin: -2.5em 0 0 0;
    z-index: 5;
    background: hsla(80, 90%, 40%, 0.7);
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: left;
    border: solid hsla(80, 90%, 40%, 0.5);
    border-right: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 3px black;
    border-radius: 3em 0.5em 0.5em 3em;
}

footer {
    color: white;
    clear: both;
    background: linear-gradient(rgb(236, 176, 91), rgb(241, 116, 172));
    position: relative;
    top: 10px;
    height: px;
}